@import url("https://fonts.googleapis.com/css?family=Bree Serif");
@import url("https://fonts.googleapis.com/css?family=Noto Sans");
@font-face {
    font-family: "Azorius";
    src: url("fonts/Azorius.woff") format("woff2");
}

body {
    background-color: transparent;
}

.message-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message {
    position: relative;
    overflow: hidden;
    margin: 2px;
    padding: 0px 15px 4px 35px;
    border-radius: 5px;
    background-color: #efefef;
    border-width: 1px;
    border-style: solid;
}

.sidebar {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: top left;
    top: -5px;
    left: 25px;
    padding: 5px;
    background-color: #3858b388;
    font-family: "Azorius";
    font-size: 16px;
    letter-spacing: 0.1em;
    color: white;
}

.message .author {
    margin-right: 10px;
    font-family: "Bree Serif";
    font-size: 20px;
    color: #3858b3;
}

.message .text {
    font-family: "Noto Sans";
    font-size: 16px;
}